.header{
    padding: 60px 0 250px 0;
    border-radius: 0 0 200px 200px;
    background: {
        image:linear-gradient(to top, rgba($color-secondary,.4),rgba($color-secondary,.4)), 
        url('../images/bg-image.jpg');
        size: cover;
        position: center;
        repeat:no-repeat;
    };
    &__textbox{
        width: 40%;
        margin: 250px auto 0 auto;
        color: $color-white;
        text-align: center;
    }
    &__title{
        font-style: 80px;
        margin-bottom: 60px;
    }
    &__link{
        margin-top: 30px;
    }
}